{% extends "partials/portal/_auth_layout.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block body %}
<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <!-- Register Form
      ========================= -->
      <div class="col-md-6 d-flex flex-column align-items-center order-2 order-md-1">

        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
              <!-- Form -->
              <a href="{% url 'home:index' %}" class="mb-4 d-flex">
                <h3 class="font-weight-300 text-9 mb-5"><span class="logo mt-5 mb-5 mb-md-0"><a class="d-flex" href="{% url 'home:index' %}" title="EquityShare"><img src="{% static 'images/equityshare-logo-tm.png' %}" alt="Equity Share"></a></span></h3>

              <div>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                  {% include "partials/_messages.html" %}
                  {% include "partials/_form_errors.html" %}

                  {% if user.is_authenticated %}
                  {% include "account/snippets/already_logged_in.html" %}
                  {% endif %}
                  <h1 class="mt-4 mt-lg-0 mb-4">Recover Password</h1>
                  <p class="mb-4">
                    Enter your registered email address to recover your password.
                  </p>

                  <div class="mb-3">
                    <div class="mb-3">
                      <label for="{{form.email.id_for_label}}" class="form-label">Email <span
                          class="text-danger">*</span></label>
                      <input type="email" class="form-control border-0 bg-light rounded-end ps-1"
                        placeholder="E-mail address" id="{{form.email.id_for_label}}" name="{{form.email.name}}"
                        required="">
                    </div>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-dark btn-block shadow-none font-weight-400 my-4 m-2" type="submit">Submit</button>
                  </div>

                  <div class="mt-4">
                    <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                      password.{% endblocktrans %}
                    </p>
                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- Register Form End -->

      <!-- Welcome Text
      ========================= -->
      <div class="col-md-6 bg-light  order-1 order-md-2">
        <div class="container h-100 d-flex flex-column">
          <div class="row no-gutters">
            <div class="col-11 col-md-10 mx-auto">
              <div class="logo mt-5 mb-5 mb-md-0"></div>
            </div>
          </div>
          <div class="row no-gutters my-auto">
            <div class="col-11 col-md-10 mx-auto">
              <h1 class="text-13 font-weight-300 mb-4 cityimage"><img src="{% static 'images/equityshare-city.png' %}"
                  width="600" height="239" alt="EquityShare"></a></h1>
              <h1 class="text-13 font-weight-300 mb-4">Real Estate Investing on the Block™</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End -->
    </div>
  </div>
</div>
{% endblock %}
