{% extends "partials/portal/_auth_layout.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block body %}
<div id="main-wrapper" class="oxyy-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100"> 
      <!-- Register Form
      ========================= -->
      <div class="col-md-6 d-flex flex-column align-items-center order-2 order-md-1">
        
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-300 text-9 mb-5"><span class="logo mt-5 mb-5 mb-md-0"><a class="d-flex" href="{% url 'home:index' %}" title="EquityShare"><img src="{% static 'images/equityshare-logo-tm.png' %}" alt="Equity Share"></a></span></h3>

              <p class="text-left text-2 text-muted font-weight-300">Already a member? <a class="btn-link font-weight-300"
                  href="{% url 'account_login' %}">Sign in now</a>
              </p>

              <h3 class="font-weight-300 text-9 mb-5">Sign up</h3>
              <form method="POST" action="{% url 'account_signup' %}">
                {% include "partials/_messages.html" %}
                {% include "partials/_form_errors.html" %}

                <div class="form-group font-weight-300">
                  <label for="{{form.email.id_for_label}}">Email Address</label>
                  {{form.email}}
                </div>
                <div class="form-group font-weight-300">
                  {{form.password1.label_tag}}
                  {{form.password1}}
                </div>
                <div class="form-group font-weight-300">
                  {{form.password2.label_tag}}
                  {{form.password2}}
                </div>
                <div class="form-group font-weight-300 mt-4">
                  <div class="form-check text-2 custom-control custom-checkbox">
                    <input id="agree" class="custom-control-input" type="checkbox" required>
                    <label class="custom-control-label" for="agree">I agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.</label>
                  </div>
                </div>
                <button class="btn btn-dark btn-block shadow-none font-weight-400 my-4" type="submit">Sign Up</button>
              </form>
              <div class="form-row mb-3"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Register Form End --> 
     
    <!-- Welcome Text
      ========================= -->
      <div class="col-md-6 bg-light  order-1 order-md-2">
        <div class="container h-100 d-flex flex-column">
          <div class="row no-gutters">
            <div class="col-11 col-md-10 mx-auto">
              <div class="logo mt-5 mb-5 mb-md-0"></div>
            </div>
          </div>
          <div class="row no-gutters my-auto">
            <div class="col-11 col-md-10 mx-auto">
                <h1 class="text-13 font-weight-300 mb-4 cityimage" ><img src="{% static 'images/equityshare-city.png' %}" width="600" height="239" alt="EquityShare"></a></h1>
              <h1 class="text-13 font-weight-300 mb-4">Real Estate Investing on the Block™</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End --> 
    </div>
  </div>
</div>
{% endblock body %}
