{% extends 'partials/_auth_layout.html' %}
{% block page_title %}Add Student{% endblock page_title %}
{% block dashboard_content %}
<div class="row">
    <div class="col-12 mb-3 text-center">
        <h1 class="h3 mb-2 mb-sm-0">Add Student Profile</h1>
    </div>
</div>
<div class="card bg-transparent">
    <form action="" method="post" enctype="multipart/form-data">
        {% include 'partials/_form_errors.html' %}
        {% csrf_token %}
        <div>
            <h6>Personal Details</h6>
            <div class="row">
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.first_name.label}}
                    {{form.first_name}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.last_name.label}}
                    {{form.last_name}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.middle_name.label}}
                    {{form.middle_name}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.email.label}}
                    {{form.email}}
                </div>
                <div class="col-12 my-2">
                    <label for="">Passport</label>
                    {{form.image}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.mobile_no.label}}
                    {{form.mobile_no}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.gender.label}}
                    {{form.gender}}
                </div>
                <div class="col-sm-12 my-2">
                    {{form.address.label}}
                    {{form.address}}
                </div>
            </div>
        </div>
        <div>
            <h6>Academic Details</h6>
            <div class="row">
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.matric_number.label}}
                    {{form.matric_number}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.programme.label}}
                    {{form.programme}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.admission_type.label}}
                    {{form.admission_type}}
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    {{form.year_of_admission.label}}
                    {{form.year_of_admission}}
                </div>
            </div>
        </div>

        <div id="documents" class="my-3">

            <div class="d-flex justify-content-between">
                <h6>Documents</h6>
                <button type="button" class="btn btn-dark btn-sm" id="add-more-btn" title="Add More Documents"><i class="fas fa-plus"></i></button>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 my-2">
                    <label for="">Document name</label>
                    <input type="text" name="document-name" id="" class="form-control" placeholder="Document Name" required>
                </div>
                <div class="col-md-6 col-sm-12 my-2">
                    <label for="">Upload document</label>
                    <input type="file" name="document-file" id="" class="form-control" required>
                </div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-dark">Add Profile</button>
    </form>
</div>
{% endblock dashboard_content %}

{% block extra-script %}
<script>
    $(document).ready(
        $("#add-more-btn").click(() => {
            $(`#documents`).append(
                `
                <div class="row">
                    <div class="col-md-6 col-sm-12 my-2">
                        <label for="">Document name</label>
                        <input type="text" name="document-name" id="" class="form-control" placeholder="Document Name">
                    </div>
                    <div class="col-md-6 col-sm-12 my-2">
                        <label for="">Upload document</label>
                        <input type="file" name="document-file" id="" class="form-control">
                    </div>
                </div>
                `
            )
        })
    )
</script>
{% endblock extra-script %}